/*
Couleurs: http://paletton.com/#uid=13k0+0knsof54OkfJuptNheMV7W

SVP garder en ordre alphabetique et utiliser des classes
*/

a.footer
{
	color: #4C8D93;
	margin: 0px;
	padding: 0px;
}

article
{
	margin: 0px;
	padding: 0px;
}

article div ul
 {
	background-color: #4C858D;
	margin: 0px;
	width: 15%;
 }

article p
{
	margin: 0px;
	padding: 0px;
}
 
body
{
	background-color: #B6D5D7;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
 
div.corps
{
	box-shadow: 0px 0px 15px #074D54;
	
	margin: 0px;
	padding: 0px;

 	margin-left: auto;
	margin-right: auto;

	width: 1024px;
}

div.lienFooter
{
	padding-left: 20px;
	padding-right: 20px;
	display: inline;
	
}

div.TextArticle
{
	background-color: #4C8D93;
	text-align:center;

	margin: 0px;
	padding: 0px;

	margin: 0 auto;
	background-color: #4C8D93;
}

div.textTech
{

}

footer
{
	background-color: #002326;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
}

header
{
	background-color: #216E76;	
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	
	height: 102px;
	width: 1024px;
}

header h1
{
	color: #B6D5D7;
	font-size: 49px;
	margin-top: 0px;
	margin-left: 350px;
	text-shadow: 2px 2px #002326;
}

header img
{
	margin: 10px;
	width: 20%;
	float: left;
}

nav
{
	background-color: #002326;
	border: 1px #4C8D93 solid;
	
	width: 1024px;
	height: 50px;
	
	margin: 0px;
	padding: 0px;
	
	margin-left: auto;
	margin-right: auto;
}
nav a
{
	color: #4C8D93;
}
nav a:visited
{
	color: #4C8D93;
}

nav ul
 {
	margin: 0px;
	margin-top: 1.5%;
	padding: 0px;
	text-align: center;
	color: #4C8D93;
}
 
nav li
{
	/*border: 1px #4C8D93 solid;
	border-width: 1px 1px 0 0;*/
	display: inline-block;
	padding-left: 10px;
	font-size: 15px;
	text-align: center;
	width: 20%;
	border-left: 1px #4C8D93 solid;
}
nav li.last
{
	border-right: 1px #4C8D93 solid;
}
 
span.sTitreTexte
{
	font-size: 15pt;
	font-family: bold;
	
}
