/*
Couleurs: http://paletton.com/#uid=12m0+0knsof54OkfJuptNheMV7W 

SVP garder en ordre alphabetique et utiliser des classes
*/

 
 body
 {
	background-color: white;
 }
header
{
	background-color: #88B430;
	
	margin-left: auto;
	margin-right: auto;
	
	height: 128px;
	width: 1024px;
}
 footer
 {
	background-color: #273B00;
 }